.modal-title{
    font-size: 1.5em;
    font-weight: bold;
}

.subinfo-section{
    margin-bottom: 1em;
}

.modal-subinfo{
    font-size: 1.2em;
}

.img-container{
    text-align: center;
    margin-bottom: 1.5em;
}

.bottom-title{
    font-size: 1.4em;
    margin-bottom: 0.5em;
}