/* .food{
    position:absolute;
    border-radius: 50px;
    border: 0px solid rgb(242,191,99);
}

.food:hover{
    border: 3px solid rgb(242,191,99);
    border-radius: 50px;
    transform: scale(1.1);
    transition: ease-in-out 0.1s;
}

.pos1{
    top:16em;
    left: 52em;
}

.pos2{
    top:8em;
    left: 72em;
}

.pos3{
    top:46em;
    left: 52em;
}

.pos4{
    top:56em;
    left: 69em;
}

.pos5{
    top:60.5em;
    left: 58em;
} */